/*
 * Flatpickr Material Design theme 0.3.0 by djibe
 */

.flatpickr-calendar {
  -webkit-animation: none;
          animation: none;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  direction: ltr;
  display: none;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Arial, sans-serif;
  opacity: 0;
  position: absolute;
  touch-action: manipulation;
  visibility: hidden;
  width: 307.875px;
}

.flatpickr-calendar.open,
.flatpickr-calendar.inline {
  max-height: 640px;
  opacity: 1;
  visibility: visible;
}

.flatpickr-calendar.open {
  display: inline-block;
  z-index: 99999;
}

.flatpickr-calendar.animate.open {
  -webkit-animation: fpFadeInDown 250ms cubic-bezier(0, 0, 0.2, 1);
          animation: fpFadeInDown 250ms cubic-bezier(0, 0, 0.2, 1);
}

.flatpickr-calendar.inline {
  display: block;
  position: relative;
  top: 4px;
}

.flatpickr-calendar.static {
  position: absolute;
  top: calc(100% + 2px);
}

.flatpickr-calendar.static.open {
  display: block;
  z-index: 999;
}

.flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+1) .flatpickr-day.inRange:nth-child(7n+7) {
  box-shadow: none !important;
}

.flatpickr-calendar.multiMonth .flatpickr-days .dayContainer:nth-child(n+2) .flatpickr-day.inRange:nth-child(7n+1) {
  box-shadow: -2px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
}

.flatpickr-calendar .hasWeeks .dayContainer,
.flatpickr-calendar .hasTime .dayContainer {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.flatpickr-calendar .hasWeeks .dayContainer {
  border-left: 0;
}

.flatpickr-calendar.showTimeInput.hasTime .flatpickr-time {
  border-top: 1px solid #d7d7d7;
  height: 40px;
}

.flatpickr-calendar.noCalendar.hasTime .flatpickr-time {
  height: auto;
}

.flatpickr-calendar:focus {
  outline: 0;
}

.flatpickr-wrapper {
  display: inline-block;
  position: relative;
}

.flatpickr-months {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  padding: 16px 0 12px;
}

.flatpickr-months .flatpickr-month {
  background: transparent;
  color: rgba(0, 0, 0, 0.9);
  fill: rgba(0, 0, 0, 0.9);
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
  -webkit-box-flex: 1;
          flex: 1;
  margin-left: 32px;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  border-radius: 12px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  z-index: 3;
  height: 24px;
  width: 24px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.flatpickr-months .flatpickr-prev-month {
  -webkit-box-ordinal-group: 2;
          order: 1;
}

.flatpickr-months .flatpickr-next-month {
  margin: 0 16px 0 24px;
  -webkit-box-ordinal-group: 3;
          order: 2;
}

.flatpickr-months .flatpickr-prev-month:hover,
.flatpickr-months .flatpickr-next-month:hover {
  background-color: #f5f5f5;
}

.flatpickr-months .flatpickr-prev-month:active,
.flatpickr-months .flatpickr-next-month:active {
  background-color: #d7d7d7;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-disabled,
.flatpickr-months .flatpickr-next-month.flatpickr-disabled {
  display: none;
}

.flatpickr-months .flatpickr-prev-month i,
.flatpickr-months .flatpickr-next-month i {
  position: relative;
}

.flatpickr-months .flatpickr-prev-month svg,
.flatpickr-months .flatpickr-next-month svg {
  height: 14px;
  width: 14px;
}

.flatpickr-months .flatpickr-prev-month svg path,
.flatpickr-months .flatpickr-next-month svg path {
  fill: #757575;
  stroke: #757575;
  stroke-width: 1px;
}

.numInputWrapper {
  height: auto;
  position: relative;
}

.numInputWrapper input,
.numInputWrapper span {
  display: inline-block;
}

.numInputWrapper input {
  width: 100%;
}

.numInputWrapper input::-ms-clear {
  display: none;
}

.numInputWrapper input::-webkit-outer-spin-button,
.numInputWrapper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.numInputWrapper span {
  position: absolute;
  right: 0;
  width: 14px;
  padding: 0 4px 0 2px;
  height: 50%;
  line-height: 50%;
  opacity: 0;
  cursor: pointer;
  border: 1px solid rgba(57, 57, 57, 0.15);
  box-sizing: border-box;
}

.numInputWrapper span:hover {
  background: rgba(0, 0, 0, 0.1);
}

.numInputWrapper span:active {
  background: rgba(0, 0, 0, 0.2);
}

.numInputWrapper span::after {
  content: '';
  display: block;
  position: absolute;
}

.numInputWrapper span.arrowUp {
  border-bottom: 0;
  top: 0;
}

.numInputWrapper span.arrowUp::after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #757575;
  top: 26%;
}

.numInputWrapper span.arrowDown {
  top: 50%;
}

.numInputWrapper span.arrowDown::after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #757575;
  top: 40%;
}

.numInputWrapper span svg {
  height: auto;
  width: inherit;
}

.numInputWrapper span svg path {
  fill: #757575;
}

.flatpickr-current-month {
  color: inherit;
  height: 24px;
  display: inline-block;
  text-align: center;
  width: auto;
  line-height: 24px;
}

.flatpickr-current-month span.cur-month {
  font-family: inherit;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  padding: 0;
}

.flatpickr-current-month span.cur-month:hover {
  background: #f5f5f5;
}

.flatpickr-current-month .numInputWrapper {
  border-radius: 12px;
  display: inline-block;
  height: 24px;
  width: 60px;
}

.numInputWrapper:hover {
  background: #f5f5f5;
}

.numInputWrapper:focus {
  background: #dedede;
}

.numInputWrapper:hover span {
  opacity: 1;
}

.flatpickr-current-month .numInputWrapper span.arrowUp::after {
  border-bottom-color: #757575;
}

.flatpickr-current-month .numInputWrapper span.arrowDown::after {
  border-top-color: #757575;
}

.flatpickr-current-month input.cur-year {
  background: transparent;
  box-sizing: border-box;
  color: inherit;
  cursor: text;
  padding: 0 0 0 8px;
  margin: 0;
  display: inline-block;
  font-size: 14px;
  font-family: inherit;
  font-weight: 500;
  line-height: inherit;
  height: auto;
  border: 0;
  border-radius: 0;
  vertical-align: initial;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
       appearance: textfield;
}

.flatpickr-current-month input.cur-year:focus {
  outline: 0;
}

.flatpickr-current-month input.cur-year[disabled] {
  background: transparent;
  color: #9e9e9e;
  pointer-events: none;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  font-family: inherit;
  font-weight: 500;
  height: auto;
  margin: -1px 0 0 -4px;
  outline: none;
  padding: 4px 28px 4px 4px;
  position: relative;
  background-image: url('data:image/svg+xml;charset=utf8,%3csvg fill="%23000000" fill-opacity="0.54" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"%3e%3cpath d="M7 10l5 5 5-5z"/%3e%3cpath d="M0 0h24v24H0z" fill="none"/%3e%3c/svg%3e');
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: 24px 24px;
}

.flatpickr-current-month .flatpickr-monthDropdown-months:focus,
.flatpickr-current-month .flatpickr-monthDropdown-months:active {
  outline: none;
}

.flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
  outline: none;
  padding: 8px 0;
}

.flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month:hover {
  background-color: #f5f5f5;
}

.flatpickr-weekdays {
  background: transparent;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  height: 28px;
}

.flatpickr-weekdays .flatpickr-weekdaycontainer {
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
          flex: 1;
  padding: 0 16px;
}

.flatpickr-weekday {
  color: transparent;
  display: block;
  cursor: default;
  -webkit-box-flex: 1;
          flex: 1;
  font-size: 13px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  -webkit-transform: translateX(15px);

          transform: translateX(15px);
}

.flatpickr-weekday::first-letter {
  color: #757575;
}

.flatpickr-weeks {
  padding: 1px 0 0 0;
}

.flatpickr-days {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: flex-start;
  width: 307.875px;
}

.flatpickr-days:focus {
  outline: 0;
}

.dayContainer {
  padding: 0 16px 8px;
  outline: 0;
  text-align: left;
  width: 307.875px;
  min-width: 307.875px;
  max-width: 307.875px;
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  opacity: 1;
}

.dayContainer + .dayContainer {
  box-shadow: -1px 0 0 #e6e6e6;
}

.flatpickr-day {
  -webkit-box-align: center;
          align-items: center;
  border-radius: 150px;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  /*flex-basis: 14.2857143%;*/
  font-weight: 400;
  font-size: 13px;
  -webkit-box-pack: center;
          justify-content: center;
  height: 39px;
  max-width: 39px;
  outline: 0;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 14.2857143%;
}

.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover {
  background: #f7f2fe;
  color: inherit;
  cursor: pointer;
  outline: 0;
  z-index: 2;
}

.flatpickr-day.today {
  border: 1px solid #5a5a5a;
}

.flatpickr-day.prevMonthDay,
.flatpickr-day.nextMonthDay {
  color: #757575;
}

.flatpickr-day.inRange,
.flatpickr-day.inRange:hover {
  border-radius: 0;
  background-color: #e5d7fb;
  box-shadow: -5px 0 0 #e5d7fb, 5px 0 0 #e5d7fb;
}

.flatpickr-day:nth-of-type(7n + 1).inRange {
  border-radius: 50% 0 0 50%;
}

.flatpickr-day:nth-of-type(7n).inRange {
  border-radius: 0 50% 50% 0;
}

.flatpickr-day.startRange,
.flatpickr-day.startRange:hover {
  box-shadow: none;
}

.flatpickr-day.startRange + .flatpickr-day.inRange {
  box-shadow: -10px 0 0 #e5d7fb, 5px 0 0 #e5d7fb;
}

.flatpickr-day.endRange,
.flatpickr-day.endRange:hover {
  box-shadow: -10px 0 0 #e5d7fb;
}

.flatpickr-day:nth-of-type(7n).startRange {
  box-shadow: none !important;
}

.flatpickr-day:nth-of-type(7n+1).endRange {
  box-shadow: none !important;
}

.flatpickr-day.selected,
.flatpickr-day.selected.inRange {
  background: #6200ee;
  border-radius: 50%;
  color: #ffffff;
  z-index: 3;
}

.flatpickr-day.selected.startRange + .flatpickr-day.selected.endRange {
  box-shadow: none;
}

.flatpickr-day.selected.startRange {
  z-index: 4;
}


.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover,
.flatpickr-day.notAllowed,
.flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-day.notAllowed.nextMonthDay {
  background: transparent;
  color: #b3b3b3;
  cursor: default;
}

.flatpickr-day.week.selected {
  border-radius: 0;
  box-shadow: -5px 0 0 #e5d7fb, 5px 0 0 #e5d7fb;
}

.flatpickr-day.hidden {
  visibility: hidden;
}

.rangeMode .flatpickr-day {
  margin-top: 1px;
}

.flatpickr-weekwrapper {
  float: left;
}

.flatpickr-weekwrapper .flatpickr-weeks {
  padding: 0 12px;
  box-shadow: 1px 0 0 #e6e6e6;
}

.flatpickr-weekwrapper .flatpickr-weekday {
  float: none;
  width: 100%;
  line-height: 28px;
}

.flatpickr-weekwrapper .flatpickr-day,
.flatpickr-weekwrapper .flatpickr-day:hover {
  width: 100%;
  max-width: none;
  color: #b3b3b3;
  background: transparent;
  cursor: default;
}

.flatpickr-innerContainer {
  display: -webkit-box;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
}

.flatpickr-rContainer {
  box-sizing: border-box;
  display: inline-block;
  padding: 0;
}

.flatpickr-time {
  text-align: center;
  outline: 0;
  height: 0;
  line-height: 40px;
  max-height: 40px;
  box-sizing: border-box;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
}

.flatpickr-time:after {
  content: '';
  display: table;
  clear: both;
}

.flatpickr-time .numInputWrapper {
  -webkit-box-flex: 1;
          flex: 1;
  width: 40%;
  height: 40px;
  float: left;
}

.flatpickr-time .numInputWrapper .arrowUp:after {
  border-bottom-color: #757575;
}

.flatpickr-time .numInputWrapper .arrowDown:after {
  border-top-color: #757575;
}

.flatpickr-time.hasSeconds .numInputWrapper {
  width: 26%;
}

.flatpickr-time.time24hr .numInputWrapper {
  width: 49%;
}

.flatpickr-time input {
  background: transparent;
  border: 0;
  color: #212121;
  text-align: center;
  margin: 0;
  padding: 0;
  height: inherit;
  line-height: inherit;
  position: relative;
  box-sizing: border-box;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
       appearance: textfield;
  font-weight: 400;
  font-size: 14px;
}

.flatpickr-time input.flatpickr-hour {
  font-weight: 500;
}

.flatpickr-time .flatpickr-time-separator,
.flatpickr-time .flatpickr-am-pm {
  height: inherit;
  float: left;
  line-height: inherit;
  color: #393939;
  width: 2%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  align-self: center;
}

.flatpickr-time .flatpickr-am-pm {
  cursor: pointer;
  font-size: 14px;
  width: 18%;
}

.flatpickr-time input:hover,
.flatpickr-time .flatpickr-am-pm:hover {
  background: #f5f5f5;
}

.flatpickr-time input:focus,
.flatpickr-time .flatpickr-am-pm:focus {
  background: #dedede;
  outline: 0;
}

.flatpickr-input[readonly] {
  cursor: pointer;
}

@-webkit-keyframes fpFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fpFadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
            transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
